body {
	background-color: beige;
}

.silka {
	font-size: 22px;
	color: black;
	margin-left: 20px;
}



// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
